body {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1682685794761-c8e7b2347702?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  height: 50vh;
  margin: 0;
  /* background: #000000; */
  color: white;
  font-size: 120%;
}
.citySearch{
  font-size: 33px;
}
#citySearch{
  background-color: #b6a7a7;
  color: rgb(0, 0, 0);
  padding: 2vh;
  border-radius: 30px;
  width: 100%;
  max-width: 200px;
  margin: 1vh;
  margin-top: -10px;
  font-size: large;
}
.search{
  margin: 5px;
  border-radius: 30px;
  border: none;
  height: 50px;
  width: 90px;
  outline: none;
  background-color: #b6a7a7;
  color: white;
  cursor: pointer;
  transition: 2.1s ease-in-out;
}
.search:hover{
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: inset;
}
#cityForm{
  border: 10px;
  padding: 20px;  
}

.hide {
  display: none;
}

.boxOne {
  max-width: 250px;
  width: 100%;
  text-align: center;
  border: 10px;
  margin: 10px;
  padding: 10px;
  background-color: #b6a7a7;
  color: black;
  border-radius: 30px;
  text-transform: capitalize;
}
.cityList{
  font-size: larger;
}
.city{
  font-size: 60px;
  font-weight:bolder;
}
